@import url(index.css);
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

main {
    padding: 0;
    font-size: 22px;
}


.header_social{
    
}
.description {
    padding: 15px 5px 15px;
    text-align: center;
    font-weight: bold;
    background-color: #bcbcbc;
    box-shadow: 0 2px 2px 0 #000000b5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.time-country-code {
    font-weight: bold;
}

.expiriense-description {
    font-size: 20px;
}

.cv-content {
    padding-top: 40px;
    width: 70%;
    margin: 0 auto;
    max-width: 680px;
}

.cv-content article {
    margin-bottom: 30px;
    margin-left: 20px;
}

.cv-content h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: -20px;
}
.links p,
.contacts p,
.experience p,
.education p,
.courses p {
    padding: 5px 0;
    position: relative;
    border-left: 2px solid #2d2d2d59;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience .expiriense-description {
    padding-top: 0;
}

.dot::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #24262d;
    background-color: #2d2d2d;
    border-radius: 8px;
    /* border: solid 4px #b9c4ca; */
    display: block;
    position: absolute;
    top: 6px;
    left: -5px;
}


/* .expiriense-description::before {
    content: "";
    width: 8px;
    height: 2px;
    background-color: #24262d;
    border: solid 2px #b9c4ca;
    display: block;
    position: absolute;
    top: 6px;
    left: -7px;
} */

.experience span {
    min-width: 155px;
}

.professional-skill img {
    margin-right: 10px;
}

.links p::before,
.contacts p::before,
.experience p:not(.expiriense-description)::before,
.education p::before,
.courses p::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #24262d;
    border-radius: 8px;
    border: solid 4px #b9c4ca;
    display: block;
    position: absolute;
    top: 6px;
    left: -9px;
}

main span {
    font-weight: bold;
    padding-left: 5px;
}

.company-name {
    font-weight: bold;
    padding-left: 0;
}

a .job-title{
    color: #132860;
    font-size: 0.9em;
}

.experience a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.experience a:hover span:not(.job-title){
    text-decoration: none;
    color: #b44328;
}

.links a,
.contacts a {
    text-decoration: none;
    color: inherit;
}

.contacts a:hover,
.links a:hover {
    color: #b44328;
}

.education span {
    min-width: 100px;
    text-align: right;
}

.professional-skill div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: -15px;
    cursor: pointer;
}

.professional-skill img {
    display: block;
    height: 40px;
    width: auto;
}

.professional-skill div:hover img {
    filter: grayscale(1);
}

@media screen and (max-width: 800px) {
    .cv-content {
        width: 90%;
    }
}

@media(max-width: 600px) {
    .contacts p,
    .experience p,
    .education p,
    .courses p {
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {
    main p {
        font-size: 16px;
    }
    .expiriense-description {
        font-size: 14px;
    }
    .cv-content h3 {
        font-size: 24px;
    }
    .education span {
        min-width: 70px;
    }
    .experience span {
        min-width: 115px;
    }
}

@media screen and (max-width: 360px) {
    main p {
        font-size: 14px;
    }
    .cv-content h3 {
        font-size: 22px;
    }
    .education span {
        min-width: 60px;
    }
    .experience span {
        min-width: 95px;
    }
}