@import url(index.css);
@font-face {
    font-family: 'Roboto Condensed';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

main {
    padding: 0;
    font-size: 22px;
}

.description {
    padding: 15px 5px 15px;
    text-align: center;
    font-weight: bold;
    background-color: #bcbcbc;
    box-shadow: 0 2px 2px 0 #000000b5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.contacts {
    padding-top: 40px;
    width: 70%;
    margin: 0 auto;
    max-width: 680px;
}

main h3 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

main p:not(.description p) {
    padding: 5px 0;
}

.contacts li img {
    vertical-align: middle;
    padding-left: 10px;
}

.contacts ul {
    margin-bottom: 30px;
    margin-left: 20px;
}

.contacts li {
    position: relative;
    border-left: 2px solid #2d2d2d59;
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 12px;
}

.contacts li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #24262d;
    border-radius: 8px;
    border: solid 4px #b9c4ca;
    display: block;
    position: absolute;
    top: 6px;
    left: -9px;
}

.contacts li a {
    text-decoration: none;
    color: inherit;
}

.contacts li a:hover,
.link a:hover {
    color: #b44328;
}


/* .links li a {
    border-bottom: 2px solid #000000;
} */

.links li a:hover {
    border-bottom: 2px solid #b44328;
}

.footer-contacts {
    margin: 30px 0;
    padding: 0 20px;
    text-align: center;
}

.footer-contacts li {
    display: inline-block;
    /* border-radius: 5px; */
    margin: 5px;
    box-shadow: inset 0px 1px 2px 1px #000000c4;
    background-color: #e7e7e7;
}

.footer-contacts li a {
    display: block;
    /* border-radius: 5px; */
    margin: 5px;
    box-shadow: 0px 1px 2px 1px #0000007d;
    padding: 2px;
}

.footer-contacts li a img {
    display: block;
    width: 110px;
    height: 35px;
    margin: 0 auto;
}

.footer-contacts li a:hover {
    background-color: #dbdbdb;
    box-shadow: 0px 0px 3px 0px #000000c7;
}

.footer-contacts li a:hover img {
    width: 106px;
    height: 33px;
    margin: 1px 2px;
    box-sizing: border-box;
}

.link span {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 3px;
    display: inline-block;
    border-bottom: 2px solid #2d2d2d59;
}

.link span img {
    width: 25px;
    height: auto;
    margin-right: 3px;
    vertical-align: bottom;
}

.link a {
    display: block;
    font-family: inherit;
    color: black;
}

@media screen and (max-width: 800px) {
    .contacts {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    main p,
    main li {
        font-size: 16px;
    }
    main h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 360px) {
    main p,
    main li {
        font-size: 14px;
    }
    main h3 {
        font-size: 22px;
    }
}