
li a{
	text-decoration: none;
	display: block;
	height: 95px;
}

li a:hover{
	width: 185px;
}

#link_html{
	background: url(../img/link_html_02.png) no-repeat;
	background-size: auto 100%;
}

#link_html:hover{
	transition: all 0.2s ease-in 0s;
	background: url(../img/link_html_bg_02.png) no-repeat;
	background-size: auto 100%;
	
}

#link_css{
	background: url(../img/link_css_02.png) no-repeat;
	background-size: auto 100%;
}

#link_css:hover{
	transition: all 0.2s ease-in 0s;
	background: url(../img/link_css_bg_02.png) no-repeat;
	background-size: auto 100%;
	
}

#link_js{
	background: url(../img/link_js_02.png) no-repeat;
	background-size: auto 100%;
}

#link_js:hover{
	transition: all 0.2s ease-in 0s;
	background: url(../img/link_js_bg_02.png) no-repeat;
	background-size: auto 100%;
	
}

#link_git{
	background: url(../img/link_git_02.png) no-repeat;
	background-size: auto 100%;
}

#link_git:hover{
	transition: all 0.2s ease-in 0s;
	background: url(../img/link_git_bg_02.png) no-repeat;
	background-size: auto 100%;
	
}

#link_ps{
	background: url(../img/link_ps_02.png) no-repeat;
	background-size: auto 100%;
}

#link_ps:hover{
	transition: all 0.2s ease-in 0s;
	background: url(../img/link_ps_bg_02.png) no-repeat;
	background-size: auto 100%;
	
}

#link_wp{
	background: url(../img/link_wp_02.png) no-repeat;
	background-size: auto 100%;
}

#link_wp:hover{
	transition: all 0.2s ease-in 0s;
	background: url(../img/link_wp_bg_02.png) no-repeat;
	background-size: auto 100%;
	
}