#sidebar{
    background: linear-gradient( 90deg, #111318, #57627d );
    width: 110px;
    box-shadow: 2px 0px 2px 0px #000000a8;
    display: table-cell;
    }

#sidebar img{
	width: 75px;
	height: auto;
}

#sidebar ul{
	padding: 0 13px;
	list-style: none;
    min-width: 88px;
    margin-bottom: 30px;
}

#sidebar ul:hover li{
    background: linear-gradient( 0deg, #8d929b 0%, #cfd1d6 50%, #8d929b 100%);
    box-shadow: inset 0px 0px 2px 2px #000000;
    width: 177px;
    transition: 0.2s;
}

#sidebar li{
    text-decoration: none;
    margin-top: 13px;
    border-radius: 20px;
    transition: 0.2s;
    width: 85px;
    height: 100px;  
}  

#sidebar li a{
	text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

#sidebar li a:hover{
	width: 177px;
}

#link_html{
    background: url(../img/link_html_01.png) no-repeat;
	background-position: top left;
}

#link_html:hover{
   background-position: bottom left;
}

#link_css{
    background: url(../img/link_css_01.png) no-repeat;
	background-position: top left;
}

#link_css:hover{
   background-position: bottom left;
}

#link_js{
    background: url(../img/link_js_01.png) no-repeat;
	background-position: top left;
}

#link_js:hover{
   background-position: bottom left;
}

#link_git{
    background: url(../img/link_git_01.png) no-repeat;
	background-position: top left;
}

#link_git:hover{
   background-position: bottom left;
}

#link_ps{
    background: url(../img/link_ps_01.png) no-repeat;
	background-position: top left;
}

#link_ps:hover{
   background-position: bottom left;
}

#link_wp{
    background: url(../img/link_wp_01.png) no-repeat;
	background-position: top left;
}

#link_wp:hover{
   background-position: bottom left;
 }

@media screen  and (max-width: 640px){
    #link_html{
        transition: all 0.2s ease-in 0s;
        background: url(../img/link_html_02.png) no-repeat;
        background-position: top left;
    }

    #link_html:hover{
        background-position: top right;
    }

    #link_css{
        transition: all 0.2s ease-in 0s;
        background: url(../img/link_css_02.png) no-repeat;
        background-position: top left;
    }

    #link_css:hover{
        background-position: top right;
    } 
    
    #link_js{
        transition: all 0.2s ease-in 0s;
        background: url(../img/link_js_02.png) no-repeat;
        background-position: top left;
    }

    #link_js:hover{
        background-position: top right;
    }
    
    #link_git{
        transition: all 0.2s ease-in 0s;
        background: url(../img/link_git_02.png) no-repeat;
        background-position: top left;
    }

    #link_git:hover{
        background-position: top right;
    }
    
    #link_ps{
        transition: all 0.2s ease-in 0s;
        background: url(../img/link_ps_02.png) no-repeat;
        background-position: top left;
    }

    #link_ps:hover{
        background-position: top right;
    }
    
    #link_wp{
        transition: all 0.2s ease-in 0s;
        background: url(../img/link_wp_02.png) no-repeat;
        background-position: top left;
    }

    #link_wp:hover{
        background-position: top right;
    }
}












