@import url(reset.css);
@import url(slider_style.css);
@import url(link_style.css);

#wrapper{
	max-width: 1020px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #aaaaaa;
	position: relative;
	font-family: Calibri, sans-serif;
}

#header{
	background-color: #e6e6e6;
	overflow: hidden;
	text-align: center;
}

#profession{
	height: 60px;
	min-width: 200px;
	color: #fafafa;
	font-size: 26px;
	background-color: #1e1e1e;
	float: left;
	margin-left: 30px;
	padding: 10px 0;
}

#name{
	width: calc(100% - 230px);
	float: right;
	color: #1e1e1e;
	font-size: 60px;
}

#name p{
	margin-top: 5px;
}

#left_column{
	width: 20px;
	height: 100%;
	float: left;
	display: inline-flex;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	color: #8c8c8c;
	padding: 0 5px;
	font-size: 16px;
}

#sidebar{
	width: 105px;
	min-height: 568px;
	float: left;
	background-color: #454545;
	transition: all 0.2s ease-in 0s;
	padding-bottom: 1000px;
    margin-bottom: -1000px; 
}

#sidebar img{
	width: 75px;
	height: auto;
}
 
#sidebar:hover{
	width: 200px;
	transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

ul{
	padding-top: 10px;
	list-style: none;
}

li{
	text-decoration: none;
	padding: 5px 0 5px 15px; 
}

li:hover{
	background-color: #1e1e1e;
}


#main_content{
	overflow: hidden;
}

#slider{
	min-height: 300px;
	background-color: #aaaaaa;
}

#portfolio{
	text-align: center;
	background-color: #e6e6e6;
	min-height: 400px; 
}

#portfolio img{
	display: inline-block;
	width: 320px;
	height: auto;
	margin: 20px;
}

#portfolio a{
	display: inline-block;
}

#footer{
	background-color: #454545;
	width: 100%;
	overflow: hidden;
	max-height: 150px;
}

#social{
	width: 200px;
	display: inline-block;
	background-color: #1e1e1e;
	margin-left: 30px;
	text-align: center;
	padding-bottom: 100px;
	margin-bottom: -100px;
}

#social img {
	width: 40px;
	height: auto;
}

#social a{
	display: inline-block;
	padding: 15px 0;
}

#foot_content{
	color: #e6e6e6;
    font-size: 16px;
    float: right;
    width: calc(100% - 230px);
    padding: 10px 0;
    text-align: center;
}

