@import url(reset.css);
@import url(slider_style.css);

#wrapper{
	max-width: 1020px;
	margin: 0 auto;
	background-color: #d2d0d0;
}
#header{
	background-color: #e6e6e6;
	overflow: hidden;
}


#profession p{
	margin-top: 20px;
}

#profession{
	color: #fafafa;
	font: 26px Calibri, sans-serif;
	background-color: #1e1e1e;
	float: left;
	min-width: 290px;
	height: 110px;
	text-align: center;
}

#name{
	color: #1e1e1e;
	font: 60px Calibri, sans-serif;
	background-color: #e6e6e6;
	height: 110px;
	float: right;
	width: calc(100% - 290px);
	text-align: center;
}

#name p{
	margin: 10px 30px 0 0;
}



#sidebar{
	float: left;
	background-color: #454545;
	min-width: 130px;
}

#sidebar img{
	width: 75px;
	height: auto;
}

li{
	margin-left: 20px;
	text-decoration: none;
}

li a{
	text-decoration: none;
}

ul{
	list-style: none;
}

#slider{
	min-height: 300px;
	background-color: #aaaaaa;
}


#portfolio{
	text-align: center;
	background-color: #e6e6e6;
}

#portfolio a, #portfolio img{
	display: inline-block;
	width: 320px;
	height: auto;
	margin: 20px;
}



#social{
	float: left;
	background-color: #1e1e1e;
	height: 120px;
	min-width: 290px;
}

#social img{
	width: 40px;
	height: auto;
}

#social a{
	width: 40px;
	height: 40px;
}

#footer{
	background-color: #454545;
	min-height: 120px;
}

#foot_content{
	height: 120px;
    background-color: #454545;
    color: #e6e6e6;
    font: 16px bold Calibri, sans-serif;
    float: right;
    width: calc(100% - 290px);
	text-align: center;
}


