 #worldmap {
/*     overflow: hidden;*/
     display: block;
/*     width: 790px;*/
     margin: 0 auto;
 }

.worldmap {
     fill: #d7e6ef;
     stroke: black;
     stroke-width: 0.5px;
 }

 #worldmap g:hover {
     fill: #299fca;;
     stroke: black;
     stroke-width: 0.5px;
     transition: 0.2s;
 }

 #worldmap > svg{
    margin: 0 auto;
    display: block;
}