.contact-us {
    background-color: $c-grey-little;
    @media only (min-width: 991px) {
        padding-top: 80px;
        padding-bottom: 125px;
    }
    .container-header {
        text-transform: uppercase;
    }

    .form-group input {
        margin-bottom: 30px;
        border: none;
        border-right: 1px solid $c-grey;
        border-radius: 0px;
        background-color: $c-white;
       
        &:last-child {
            @media only (min-width: 768px) {
                margin-bottom: 0px;
            }
        }
    }

    textarea {
        border: none;
        border-color: $c-grey;
        border-right: 1px solid $c-grey;
        border-radius: 0px;
        background-color: $c-white;
        &:focus{
            border-right: 1px solid $c-grey;
        }
    }
    button{
        @media only (min-width: 991px) {
            margin-top: 5px;
        }
    }
    .form-control:focus {
        box-shadow: 0 0 2px 2px $c-green-transparent;
    }
}