#form-authorization-wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 60px;
    background-color: $c-white;
    border-radius: 10px;
    margin-top: 10px;

    @media only screen and (max-width: 575px) {
        padding: 30px 15px;
    }

    h2 {
        text-transform: uppercase;

        &::after {
            content: none;
        }

        margin-bottom: 55px;
        line-height: 1.4;
    }

    .form-login {
        &__social-input {
            display: none;
        }

        &__social-label {
            width: 100%;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            align-items: center;
            padding-right: 30px;
        }

        .block-start {
            min-width: 63px;
            padding: 12px;
            height: 100%;
            margin-bottom: 0;
            flex-grow: 0;
        }

        span {
            flex-grow: 1;
            color: $c-white;
            font-size: 1.5rem;
        }

        &__input {
            width: 100%;
            border-radius: 10px;
            border: 1px solid $c-grey-semi;
            font-size: 1.5rem;
            padding: 10px;
            margin-bottom: 20px;

            &:focus {
                outline: none;
                box-shadow: 0 0 2px 2px #69b4337d;
            }
        }

        &__input-label {
            display: block;
            color: $c-grey-semi;
            font-size: 1rem;
            text-align: left;
        }

        &__login,
        &__social {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__social {
            padding-top: 2rem;
            padding-right: 50px;

            label {
                margin-bottom: 40px;
            }

            & label:nth-child(5) {
                margin-bottom: 0;
            }

            @media only screen and (max-width: 767px) {
                padding-top: 0;
                padding-right: 0;
            }
        }

        &__login {
            padding-left: 50px;

            @media only screen and (max-width: 767px) {
                padding-left: 0;
            }
        }

        .form-row {
            position: relative;
        }

        .form-login-separator {
            @media only screen and (max-width: 767px) {
                display: none;
            }

            flex-grow: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $c-grey-semi;
            display: flex;
            height: 90%;
            align-items: center;

            &::before {
                content: "";
                height: 43%;
                width: 1px;
                background-color: $c-grey-semi;
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translate(-50%, -100%);
            }

            &::after {
                content: "";
                height: 43%;
                width: 1px;
                background-color: $c-grey-semi;
                position: absolute;
                left: 50%;
                top: 0%;
                transform: translate(-50%, -0%);
            }
        }

    }

    .label-facebook {
        background-color: $c-fb_01;

        .block-start {
            background-color: $c-fb_02;
        }
    }

    .label-twitter {
        background-color: $c-tw_01;

        .block-start {
            background-color: $c-tw_02;
        }
    }

    .label-gmail {
        background-color: $c-gm_01;

        .block-start {
            background-color: $c-gm_02;
        }
    }

    button {
        min-width: 160px;
        width: min-content;
        padding: 10px;
        font-size: 1.5rem;
        margin: 10px auto;
        margin-bottom: 0;
    }

    a:hover {
        color: $c-white;
    }

    .mfp-close {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        width: 44px;
        height: 44px;
        line-height: 44px;
        min-width: unset;
        font-size: 44px;
        color: #69b433;
        box-sizing: border-box;
        margin-bottom: 0px;
    }

    .form-title {
        margin: 0 auto;
        margin-bottom: 70px;
        background-color: $c-green;
        // background: linear-gradient(90deg, $c-green 50%,  $c-grey-semi 50%);
        border-radius: 5px;
        position: relative;
        display: inline-block;

        p {
            display: inline-block;
            text-align: center;
            padding: 4px 20px;
            margin-bottom: 0;
            color: $c-white;
            font-size: 1.7rem;
            min-width: 200px;
            cursor: pointer;

            @media only screen and (max-width: 485px) {
                min-width: 150px;
            }
        }

        @media only screen and (max-width: 420px) {
            display: flex;
            flex-direction: column;

            .form-title_login {
                margin-right: 0;
            }

            span {
                box-shadow: 0px 0px 2px 1px #00000045;
                left: 20% !important;
            }

            p {
                padding-left: 90px;
            }
        }

        span {
            width: 80px;
            height: 80px;
            line-height: 80px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $c-green;
            color: $c-white;
            font-size: 1.5rem;
        }

        &_login {
            margin-right: 40px;
            background-color: $c-green;
            border-radius: 5px;

            @media only screen and (max-width: 480px) {
                margin-right: 60px;
            }
        }

        &_registration {
            background-color: $c-grey-semi;
            border-radius: 5px;
        }
    }
    @media only screen and (max-width: 767px) {
        h2{
            margin-bottom: 30px;
        }
        .form-title{
            margin-bottom: 30px;
        }
        .form-login__social label{
            margin-bottom: 25px;
        }
    }
}