.form-registered {
    display: none;

   .form-row{
       margin-top: -40px;
       @media only screen and (max-width: 768px) {
        margin-top: -20px;
    }

   }

    &__input-label {
        display: block;
        color: #8c8c8c;
        font-size: 1rem;
        text-align: left;
    }

    &__input {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #8c8c8c;
        font-size: 1.5rem;
        padding: 10px;
        margin-bottom: 20px;

        &:focus {
            outline: none;
            box-shadow: 0 0 2px 2px #69b4337d;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .link-bg {
        background: url(../img/form/registred.png) no-repeat top center;
        background-size: contain;
        height: 60px;
        width: 100%;
    }
}