.login {
    margin-top: -153px;
    z-index: 9;
    position: relative;
    padding-bottom: 0;

    @media only screen and (max-width: 991px) {
        margin-top: 10px;
        padding-top: 10px;
    }

    .login-sub-menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 1280px) {
            flex-direction: column;
        }

        .vegan,
        .vegetarian,
        .support-ecology {
            max-width: 360px;
            min-width: 350px;
            padding: 10px;
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 10px;

            @media only screen and (max-width: 575px) {
                min-width: 100%;
                max-width: 100%;
            }

            img {
                width: 72px;
                height: 72px;
            }
        }

        p {
            color: $c-white;
            font-size: 1.5rem;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 0;
            line-height: 1.4;
            width: 100%;
            padding-left: 10px;
        }

        .vegan {
            background-color: $c-alpine;

            @media only screen and (min-width: 575px) {
                &::after {
                    content: "";
                    position: absolute;
                    right: -84px;
                    border: 46px solid transparent;
                    border-left: 38px solid $c-alpine;
                }
            }

            @media only screen and (max-width: 1280px) and (min-width: 575px) {
                &::before {
                    content: "";
                    position: absolute;
                    left: -84px;
                    border: 46px solid transparent;
                    border-right: 38px solid $c-alpine;
                }
            }
        }

        .vegetarian {
            background-color: $c-green;

            @media only screen and (min-width: 575px) {
                margin-left: 54px;
                margin-right: 54px;
            }

            @media only screen and (min-width: 575px) {
                &::after {
                    content: "";
                    position: absolute;
                    border: 38px solid transparent;
                    border-top: 46px solid $c-green;
                    border-bottom: 46px solid $c-green;
                    z-index: -1;
                    left: -38px;

                }

                &::before {
                    content: "";
                    position: absolute;
                    border: 38px solid transparent;
                    border-top: 46px solid $c-green;
                    border-bottom: 46px solid $c-green;
                    z-index: -1;
                    right: -38px;

                }
            }
        }

        .support-ecology {
            background-color: $c-blue;

            @media only screen and (min-width: 575px) {
                &::after {
                    content: "";
                    position: absolute;
                    left: -84px;
                    border: 46px solid transparent;
                    border-right: 38px solid $c-blue;
                }
            }

            @media only screen and (max-width: 1280px) and (min-width: 575px) {
                &::before {
                    content: "";
                    position: absolute;
                    right: -84px;
                    border: 46px solid transparent;
                    border-left: 38px solid $c-blue;
                }
            }
        }
    }

    .link {
        padding: 20px;

        a {
            display: inline-block;
            border-right: 1px solid $c-grey-dark;
            cursor: pointer;
            padding: 0 5px;
            font-size: 1.4rem;

            &:last-child {
                border-right: none;
            }
        }
    }

    .statistics-data {
        position: absolute;
        top: -40px;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;

        @media only screen and (max-width: 1280px) {
            position: relative;
            top: unset;
            right: unset;
            justify-content: space-between;
            padding: 15px 0;
        }

        .number {
            font-size: 3rem;
            letter-spacing: 5px;
            font-family: Montserrat-Bold;
            text-shadow: 2px -2px 4px #000000b5;
            @media only screen and (max-width: 575px) {
                font-size: 2.6rem;
            }
    
        }

        &__registered-user {
            padding-right: 28px;
            @media only screen and (max-width: 1280px) {
                padding-right: 0;
            }
            .number {
                color: $c-green;
                line-height: 1;
                margin-bottom: 0;
                text-align: right;
                @media only screen and (max-width: 575px) {
                    text-align: center;
                }
            }
        }

        &__best-store {
            .number {
                color: $c-blue;
                line-height: 1;
                margin-bottom: 5px;
                text-align: right;
                margin-bottom: 0;
                @media only screen and (max-width: 575px) {
                    text-align: center;
                }
            }

        }

        .title {
            margin-bottom: 5px;
        }

        span {
            font-weight: bold;
        }
    }

    .flag {
        background-color: $c-transparent-30;
        padding: 10px;
        width: 260px;
        margin: 0 auto;
        font-size: 1rem;
        color: $c-grey-dark;
        position: relative;
        margin-bottom: 12px;
        border-radius: 10px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            border: 8px solid transparent;
            border-top: 14px solid $c-transparent-30;
            left: 50%;
            bottom: -33px;
            transform: translate(-50%, -50%);
        }
    }

}