.map {
    background: url(../img/bg_map.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    height: 927px;
    max-height: calc(100vh - 200px);
    padding: 0;
    overflow: hidden;

    @media only screen and (max-width: 991px) {
        height: auto;
        max-height: unset;
    }

    &::after {
        content: "";
        height: 100%;
        width: 43%;
        // width: 825px;
        display: block;
        background-color: $c-grey-dark;
        opacity: 0.47;
        transform: skew(23deg, 0);
        position: absolute;
        left: 92px;
        left: 5%;
        left: 95px;
        top: 0;
        z-index: 1;

        @media only screen and (max-width: 991px) {
            width: 525px;
        }
    }

    &::before {
        content: "";
        height: 100%;
        width: 33%;
        // width: 620px;
        display: block;
        background-color: $c-green-map;
        opacity: 0.63;
        transform: skew(-25deg, 0);
        position: absolute;
        left: -12%;
        left: -227px;
        top: 0;
        z-index: 2;

        @media only screen and (max-width: 991px) {
            width: 420px;
        }
    }

    &__text-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;
        color: $c-white;

        @media only screen and (max-width: 991px) {
            flex-direction: column;
        }

        &-text {
            max-width: 520px;
            text-align: left;
            padding-top: 50px;

            @media only screen and (max-width: 991px) {
                padding-top: 20px;
            }

            .title {
                margin-bottom: 30px;
            }

            .sub-title {
                color: $c-white;
                font-size: 1.2rem;
            }
        }

        &-content {
            padding-bottom: 20px;

            img {
                width: 100%;
                height: auto;
                max-width: 365px;
            }
        }
    }

    span {
        width: 100%;
        height: 100px;
        background-color: #8c8c8c;
        background-color: transparent;
        display: block;
        position: relative;
        z-index: 3;
        bottom: 100px;
        left: 0;
        background: linear-gradient(-182deg, transparent 53%, $c-white 0);
        @media only screen and (max-width: 991px) {
            bottom: -30px;
        }
        @media only screen and (max-width: 575px) {
            bottom: -40px;
        }
    }
}