// popup map -------------------------------------
#youtube-video {
    iframe {
        width: 100%;
        height: calc(100vh - 100px);
        max-height: 600px;
        border: none;
    }

    .popup-modal-dismiss {
        min-height: 50px;
        text-align: right;
        padding-top: 10px;
        padding-right: 10px;

        span {
            width: 40px;
            height: 3px;
            display: inline-block;
            background-color: $c-green;
            transform: rotate(45deg);
            position: relative;

            &::after {
                content: "";
                width: 40px;
                height: 3px;
                background-color: $c-green;
                transform: rotate(90deg);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

    }

    .mfp-close {
        display: none;
    }
}