.services {
    padding-top: 0px;
    padding-bottom: 80px;
    @media only (max-width: 1200px) {
        padding-bottom: 20px;
    }

    &__heading {
        background-color: $c-green;
        margin-bottom: 20px;
        padding-bottom: 5px;
        @media only (min-width: 1200px) {
            margin-bottom: 85px;
        }

        .size {
            font-family: Montserrat-SemiBoldб , sans-serif;
            font-size: 2.3rem;
            color: $c-white;
        }

        .d-flex {
            @media only screen and (max-width: 575px) {
                flex-direction: column;
            }
        }
    }

    img {
        width: auto;
        height: 58px;
    }

    &__service {
        .one-service {
            padding-top: 20px;
            padding-bottom: 20px;
            .title{
                font-size: 1.4rem;
            }
            &::after{
                content: "";
                display: block;
                width: 26%;
                height: 2px;
                background-color: $c-transparent;
                margin: 0 auto;
            }
            &:hover{
                &::after{
                    background-color: $c-green;
                }
                .title{
                    color: $c-green;
                }
            }
            .title{
                margin-bottom: 0.6rem;
            }
            .sub-title{
                margin-bottom: 0.7rem;
            }
        }
    }
}