// vars -------------------------------------

$c-white: #ffffff;
$c-black: #000000;
$c-black-light: #111111;
$c-black-semi: #191919;
$c-transparent: transparent;
$c-transparent-20: #00000020;
$c-transparent-30: #00000030;

$c-green: #69b433;
$c-green-map: #43900c;
$c-alpine: #b48833;
$c-grey: #acacac;
$c-grey-little: #f9f9f9;
$c-grey-semi: #8c8c8c;
$c-grey-dark: #555555;
$c-blue: #2992d0;
